<section class="so-messages">
    <div class="row no-gutters">
        <div class="col-md-3 senders-list b-r-grey">
            <mat-nav-list>
                <mat-list-item *ngFor="let chat of chats">
                    <img matListAvatar height="36" [src]="getAvatar(chat.avatar)" alt="logo" />
                    <a matLine routerLink='/messages/{{chat.guid}}'>{{chat.title}}</a>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <div class="col-md-6 so-messages-container">
            <mat-list>
                <mat-list-item *ngFor="let message of messages.items">
                    {{message.message}}
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</section>