@import "../../../../theme/theme-variables";
@import "../../../../theme/mixins";

.so-messages {
    position: relative;
    margin-top: $default-margin;

    .so-messages-container {
        display: flex;
        justify-content: center;

        .message-item {
            cursor: pointer;

            &:hover {
                background-color: $main-blue-lighter;
            }

            padding: 8px;

            .mesage-item-container {
                padding: 8px;
                margin-bottom: 12px;
            }
        }

        .message-actions-row {
            background: $main-red-hover;
            color: $main-white;
            padding: 8px 8px 8px 24px;
        }
    }
}

.list-item-right-align {
    .mat-list-item-content {
        justify-content: flex-end;
    }
}