<div>
    <so-spinner [isEnabled]="isLoading"></so-spinner>
    <mat-table #table [dataSource]="usersDataSet" class="pt-3" matSort matSortActive="registered" matSortDisableClear [matSortDisabled]="filteringEnabled" matSortDirection="asc">
        <!-- avatar -->
        <ng-container matColumnDef="icon">
            <mat-header-cell [style.flex]="'0 0 50px'" *matHeaderCellDef></mat-header-cell>
            <mat-cell [style.flex]="'0 0 50px'" *matCellDef="let row">
                <img height="24" [src]="getAvatar(row.avatar)" alt="logo" />
            </mat-cell>
        </ng-container>
        <!-- username (first name + last name) -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
                <span *ngIf="!filteringEnabled">NAME</span>
                <mat-form-field *ngIf="filteringEnabled">
                    <input matInput placeholder="NAME" [(ngModel)]="filter.name" (ngModelChange)="debouncedFilterChanged()" />
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ getDisplayName(row) }} </mat-cell>
        </ng-container>
        <!-- user email -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
                <span *ngIf="!filteringEnabled">EMAIL</span>
                <mat-form-field *ngIf="filteringEnabled">
                    <input matInput placeholder="EMAIL" [(ngModel)]="filter.email" (ngModelChange)="debouncedFilterChanged()" />
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
        </ng-container>
        <!-- country -->
        <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
                <span *ngIf="!filteringEnabled">COUNTRY</span>
                <mat-form-field *ngIf="filteringEnabled">
                    <mat-select [(ngModel)]="filter.country" (selectionChange)="loadUsers()" placeholder="Country">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let country of countries" [value]="country">
                            {{ country }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
        </ng-container>
        <!-- city -->
        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
                <span *ngIf="!filteringEnabled">CITY</span>
                <mat-form-field *ngIf="filteringEnabled">
                    <mat-select [(ngModel)]="filter.city" (selectionChange)="loadUsers()" placeholder="City">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let city of cities" [value]="city">
                            {{ city }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
        </ng-container>
        <!-- role -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
                <span *ngIf="!filteringEnabled">ROLE</span>
                <mat-form-field *ngIf="filteringEnabled">
                    <mat-select [(ngModel)]="filter.role" (selectionChange)="loadUsers()" placeholder="Role">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let role of getFilterRoles()" [value]="role.value">
                            {{ role.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
                <mat-form-field>
                    <mat-select [(ngModel)]="row.role" (selectionChange)="roleChanged(row)">
                        <mat-option *ngFor="let role of getTableRoles()" [value]="role.value" [disabled]="role.value === 0">
                            {{ role.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <!-- city -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
                <span *ngIf="!filteringEnabled">STATUS</span>
                <mat-form-field *ngIf="filteringEnabled">
                    <mat-select [(ngModel)]="filter.status" (selectionChange)="loadUsers()" placeholder="Status">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let status of getFilterStatuses()" [value]="status.value">
                            {{ status.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
                <mat-form-field>
                    <mat-select [(ngModel)]="row.status" (selectionChange)="statusChanged(row)">
                        <mat-option *ngFor="let status of getTableStatuses()" [value]="status.value" [disabled]="status.value === 0">
                            {{ status.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <!-- registered -->
        <ng-container matColumnDef="registered">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> REGISTERED </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.registered | amUtc | amDateFormat: 'MMMM Do YYYY, h:mm:ss a'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="text-right">
                <button mat-raised-button color="primary" [disabled]="clearFilterDisabled" (click)="clearFilter()">CLEAR FILTER</button>
                <button mat-button class="narrow-button" (click)="toggleFiltering()">
                    <mat-icon [class.rotated]="filteringEnabled" [class.not-rotated]="!filteringEnabled">filter_list</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" nowrap class="d-flex justify-content-end">
                <button mat-raised-button color="primary">EDIT</button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="users.total" [pageIndex]="users.currentPage - 1" [pageSize]="users.pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]" (page)="paginationEvent($event)">
    </mat-paginator>
</div>